<launch>

<arg name="seq" default="Merged"/>
<arg name="start_frame" default="8600"/>
<arg name="end_frame" default="9000" />
<arg name="accum_interval" default="2" />

<!-- For SemanticKITTI -->
<rosparam command="load" file="$(find erasor2)/config/kitti_mapgen.yaml" />
<!-- For HeLiPR -->
<!-- <rosparam command="load" file="$(find erasor2)/config/helipr_mapgen.yaml" /> -->

<rosparam param="/dataloader/sequence" subst_value="true">"$(arg seq)"</rosparam>
<rosparam param="/start_frame" subst_value="true">$(arg start_frame)</rosparam>
<rosparam param="/end_frame" subst_value="true">$(arg end_frame)</rosparam>
<rosparam param="/dataloader/accum_interval" subst_value="true">$(arg accum_interval)</rosparam>

<node name="mapgen" pkg="erasor2" type="mapgen" output="screen" />

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find erasor2)/rviz/kitti_mapgen.rviz" />
</launch>
